.container_0 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 1200px;
  margin: auto;
  margin-bottom: 40px;
}
.container_0 img {
  height: 100%;
  width: 100%;
}
@media (max-width: 1650px) {
  .container_0 {
    width: 1000px;
  }
}
@media (max-width: 1250px) {
  .container_0 {
    width: 850px;
  }
}
@media (max-width: 970px) {
  .container_0 {
    width: 750px;
  }
}
@media (max-width: 850px) {
  .container_0 {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .container_0 img {
    /* src: url("/images/bannercachorro_tela_menor.png"); */
  }
}
