.topBar {
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 100%;
  background-color: white;
  border-bottom: solid rgba(0, 0, 0, 0.193) 0.5px;
  margin-bottom: 20px;
}
/* Logo "adote" */
.topBar h1 {
  margin: auto 0;
  margin-top: 35px;
  font-size: 12mm;
  color: rgba(243, 149, 98, 1);
  font-weight: lighter;
}
/* container de imagem da logo */
.image_logo {
  height: 80%;
  width: auto;
  display: flex;
  flex-direction: column;
  margin: auto 50px;
}
/* container_img > img */
.image_logo img {
  height: 100%;
  width: 100%;
}
/* lista de opções de BTNS */
.rows_btns {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  margin: auto;
  margin-left: 20px;
  color: rgba(52, 199, 180, 1);
}
/* lista > elemento da lsita */
.rows_btns h2 {
  font-weight: 400;
  cursor: pointer;
  user-select: none;
  margin: auto 35px;
  margin-top: 30px;
}
/* ação apos o clique do elemento da lista */
.rows_btns :hover {
  color: rgb(165, 240, 230);
}
/* botão de menu reduzido que ira surgir apos
uma determinada largura de tela ser reduzia  */
.menu_laytou_menor {
  display: none;
}
/* popup menu quer aparece apos o clique no botão  >> menu_laytou_menor*/
.menu {
  display: none;
  flex-direction: column;
  position: absolute;
  height: auto;
  width: 150px;
  /* width: 50px; */
  border: solid rgba(0, 0, 0, 0.177) 0.1px;
  padding: 10px 30px;
  margin-left: 10px;
  background-color: white;
  margin-top: 95px;
  align-content: center;
  align-items: center;
  border-radius: 25px;
}

/* elementos do popup menu */
.menu h2 {
  font-weight: 400;
  cursor: pointer;
  user-select: none;
  padding: 20px;
  margin: -10px 20px;
  font-family: "Londrina_Solid_person", cursive;
  color: rgba(52, 199, 180, 1);
}
/* ação apos o mouse esta em cima do elemento h2 do menu popup */
.menu h2:hover {
  color: rgb(105, 232, 215);
}

/*================================= */
/*        animação da div */
/*================================= */
.animacaoLogo_1 {
  animation: rotate_1 1.5s linear;
}
@keyframes rotate_1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animacaoLogo_2 {
  animation: rotate_2 1.5s linear;
}
@keyframes rotate_2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/*================================= */
/*         reponsividade */
/*================================= */
@media (max-width: 1290px) {
  .rows_btns h2 {
    margin: auto 25px;
    margin-top: 30px;
    font-size: 5.5mm;
  }
  .topBar h1 {
    font-size: 8.5mm;
  }
  .image_logo {
    margin: auto 35px;
  }
}

@media (max-width: 1090px) {
  .rows_btns {
    margin: auto;
  }
  .rows_btns h2 {
    margin: auto 15px;
    margin-top: 30px;
    font-size: 5mm;
  }
}

@media (max-width: 910px) {
  .topBar {
    height: 90px;
  }
  .rows_btns {
    margin: auto;
    display: none;
  }
  .topBar h1 {
    margin-top: 28px;
    font-size: 10mm;
  }

  .menu_laytou_menor {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    user-select: none;
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    width: 80px;
    height: 80px;
    margin: auto;
    margin-right: -25px;
    margin-left: 20px;
    margin-top: 8px;
    cursor: pointer;
  }
  .menu_laytou_menor:active {
    outline: none;
    border: none;
    box-shadow: none;
    transform: scale(1.1);
  }
  .menu_laytou_menor img {
    outline: none;
    border: none;
    box-shadow: none;
    user-select: none;
    height: 40%;
    width: auto;
    margin: auto;
    filter: opacity(150%);
  }

  .menu {
    display: flex;
  }
}
@media (max-width: 690px) {
  .menu {
    font-size: 4mm;
  }
}
@media (max-width: 550px) {
  .menu {
    width: 100px;
    font-size: 3.5mm;
  }
  .topBar h1 {
    font-size: 8mm;
    margin-left: 0px;
  }
  .image_logo {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 480px) {
  .menu_laytou_menor {
    margin-right: -25px;
    margin-left: 20px;
  }
}
@media (max-width: 410px) {
  .image_logo {
    height: 65%;
  }
  .topBar h1 {
    font-size: 8mm;
  }
}
