.container_0 {
  height: 60em;
}

/*==================================== */
/*  contaienr loading components */
/*==================================== */
.container_cloader {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-top: 300px;
}
/*==================================== */
/*        animação loading */
/*==================================== */
.cloader {
  margin: auto;
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #51d4db;
  height: 50px;
  width: 50px;
}
@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
/*==================================== */
/*==================================== */
