/* Força o modo claro, independentemente das preferências do sistema */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgba(234, 234, 234, 1);
    /* --text-color: black; */
  }
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgba(234, 234, 234, 1); */
  background-color: var(--background-color, white);
}
.colunm {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.sessao_1 {
  margin: auto;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
}
