@import url("https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lakki+Reddy&family=Lilita+One&display=swap");
/*==================================== */
/*    base */
.container_0 {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 1200px;
  /* background-color: aqua; */
  margin: auto;
  flex-wrap: wrap;
  gap: 10px;
}
/*==================================== */
/*    div contianer_titulo > titulo */
.container_menu {
  font-family: "Lakki Reddy", cursive;
  color: rgba(52, 199, 180, 1);
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: auto;
  margin: auto;
  /* border-bottom: solid black 1px; */
  margin-bottom: -10px;
}

/*==================================== */
/*    card animal */
.card_animal {
  user-select: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: white;
  height: auto;
  width: 19%;
  align-items: center;
  align-content: center;
  padding: 20px;
}
.card_animal:hover {
  transform: scale(105%);
}
/*    card > titulo */
.card_animal h2 {
  user-select: none;
  margin: 0;
  align-self: flex-start;
  margin-top: 10px;
  font-size: 8mm;
  font-weight: 500;
}
/*==================================== */
/*    card > paragrafo desc */
.card_animal p {
  user-select: none;
  margin: 0;
  margin-top: 5px;
}
/*==================================== */
/*    card > images */
.container_image {
  height: auto;
  width: 100%;
  margin: auto 0;
}
/*    card > images > img */
.container_image img {
  width: 100%;
  height: 100%;
}
/*==================================== */
/*        linha de config BTN */
.line_buttom {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  /* background-color: aqua; */
  margin-top: 50px;
  margin-bottom: 50px;
}
/*    BTN mostrar mais */
.btn_plus {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin: auto;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #f39562;
}
/*    BTN mostrar mais > h3 propriedades */
.btn_plus h3 {
  padding: auto;
  margin: auto;
  color: white;
  font-family: "Lilita One", cursive;
  font-weight: 200;
}
/* ação após o mouse estar em cima da div */
.btn_plus:hover {
  transform: scale(105%);
}
@media (max-width: 1350px) {
  .card_animal {
    width: 25%;
  }
  .container_0,
  .container_menu {
    width: 1000px;
  }
}
@media (max-width: 1110px) {
  .container_0,
  .container_menu {
    width: 800px;
  }
}
@media (max-width: 900px) {
  .container_0,
  .container_menu {
    width: 700px;
  }
}
@media (max-width: 790px) {
  .container_menu h1 {
    font-size: 8mm;
  }
  .card_animal {
    width: 35%;
  }
  .card_animal h2 {
    font-size: 6mm;
  }
  .container_0,
  .container_menu {
    width: 500px;
  }
}
@media (max-width: 600px) {
  .container_menu h1 {
    font-size: 6.5mm;
  }
  .card_animal p {
    font-size: 4.5mm;
  }
}
@media (max-width: 590px) {
  .card_animal {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 38%;
  }
  .card_animal p {
    font-size: 3mm;
  }
  .container_0,
  .container_menu {
    width: 100%;
  }
  .card_animal p {
    margin-top: 0;
  }
  .container_0 {
    gap: 10px;
  }
}
@media (max-width: 440px) {
  .card_animal {
    width: 35%;
  }

  .card_animal p {
    margin-top: 0;
  }
  .container_0 {
    gap: 10px;
  }
}
@media (max-width: 360px) {
  .card_animal {
    width: 35%;
  }
  .container_0,
  .container_menu {
    width: 100%;
  }
  .card_animal h2 {
    margin-top: -5px;
  }
  .card_animal p {
    margin-top: 0;
  }
  .container_0 {
    gap: 10px;
  }
}
